  <%# <h1>This is a <%= puts @tester %></h1> 
  <%# <% concat @tester %><br><br>
  <%# <% concat @admin.present? %>
<%# <% for user in @users %> %>
   <%# <% concat user.email %> %>
   <%# <br> %>
   <%# <% concat user.point.last.total %> %>
   <%# <br> %>
<%# <% end %> %>

<% concat current_admin_user.email%>